<nav class="navbar " style="background-color:black; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GIPHY</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a class="links" href="#">Home</a></li>
            <li><a class="links" href="#">Reactions</a></li>
            <li><a class="links" href="#">Entertainment</a></li>
            <li><a class="links" href="#">Sports</a></li>
            <li><a class="links" href="#">Stickers</a></li>
            <li><a class="links" href="#">Artists</a></li>
            <li><a class="links" href="#">:</a></li>

            <button class="buttons">Upload</button>
            <button class="buttons">Create</button>

            <button class="login" align="right">Log In</button>


        </ul>
    </div>
</nav>

<style>
    .navbar-brand {
        color: white;
        font-weight: bolder;
        font-size: larger;
        /* text-decoration: underline 2px solid pink; */
    }
    
    .links {
        color: white;
        text-decoration: underline 2px solid pink;
    }
    
    .buttons {
        margin-top: 10px;
        height: 40px;
        width: 90px;
        margin-left: 3px;
    }
    
    .login {
        margin-top: 10px;
        height: 40px;
        width: 90px;
        margin-left: 3px;
        color: white;
        background-color: black;
    }
</style>