.ukraine {
    /* background-color: rgb(219, 219, 69); */
    background-image: url('/assets/ukraine.png');
    /* background-size: 40px 40px; */
    height: 140px;
    width: 100%;
    /* border-radius: 15px; */
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 50px;
    margin-top: 10px;
}

.trending {
    color: white;
    /* height: 180px; */
    padding-bottom: 20%;
}

.artists {
    color: white;
    /* height: 180px; */
}

.clips {
    color: white;
    /* height: 180px; */
}

* {
    background-color: black;
}