<div class="container">

    <app-navbar></app-navbar>
    <div class="ukraine">
        <h1 id="h1">PEACE FOR UKRAINE</h1>

    </div>

    <div class="trending">

        <div class="row">
            <h4>TRENDING</h4>
            <app-trending></app-trending>
        </div>

    </div>
    <div class="artists">

        <div class="row">
            <h4>ARTISTS</h4>
            <app-artists></app-artists>
        </div>
    </div>
    <div class="clips">
        <div class="row">
            <h4>CLIPS</h4>
            <app-clips></app-clips>
        </div>

    </div>
    <div class="stories">
        <div class="row">
            <h4>STORIES</h4>
            <app-stories></app-stories>
        </div>

    </div>

</div>


<style>
    .trending {
        /* display: flex; */
        float: left;
        margin-top: 5px;
    }
</style>