<div class="">


    <div class="form-outline">
        <input type="search" id="search" #gif (keyup.enter)="search(gif.value)" class="form-control" id="sbars" placeholder="Search all the GIFs and Stickers" />
    </div>
    <button type="button" class="btn btn-dark" id="searching" (click)="search(gif.value)"><i class="fa fa-search" aria-hidden="true"></i>SEARCH
  </button>




</div>
<style>
    #sbars {
        width: 90%;
    }
    
    #searching {
        height: 50px;
        width: 9%;
    }
</style>